#upload-image-form {
  position: relative;
  width: fit-content;
  margin-top: 100px;
  border: solid;
}

/*#input-image {
 display: none;
}*/

.btn-submit {
  width: 200px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  background-color: #2962FF;
  color: #fff;
  font-family: Decima,monospace,sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0 1.25rem;
  line-height: 2.5rem;
  height: 2.5rem;
  border: solid;
}

.file-name {
  margin-left: 50px;
}

.some-text {
  display: inline;
  margin-left: 50px;
}
